*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-small {
  font-size: 0.85em;
}